.list-cards {
    width: 500px;
    height: 210px;
    display: flex;
    flex-direction: row;
    background-color: #eeeeee;
    justify-content: space-between;
    padding: 3px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
    height: 200px;
    background-color: white;
    border-radius: 2px;
    overflow: auto;
    margin: 5px;
}

.big-number {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    font-size: 60pt;
}

.card-three .big-number {
    background-color: #269f5d;
    color: white;
}

.card-one .big-number{
    background-color: #65c2dc;
    color: #333333;
}

.card-two .big-number{
    background-color: #eebc40;
    color: #fefdfd;
}

.caption {
    vertical-align: center;
    background-color: #ffffff;
    height: 25%;
}
