.list-cards {
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: row;
    background-color: #eeeeee;
    justify-content: space-between;
    padding: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: inherit;
    background-color: aliceblue;
    justify-content: space-between;
}

.big-number {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    height: inherit;
    font-size: 60pt;
}

.card-three span{
    color: aqua;
}

.caption {
    vertical-align: center;
    background-color: #ffffff;
    height: 25%;
}